<body class="container">
    <div class="banner"><img src="../assets/Popkorn Banner.png"></div>
    <div class="ueberschrift"><h1>DEIN MOVIE DEAL</h1></div>
    <div class="ueberschrift"><p>SPARE BIS ZU 25%!</p></div>
    <div class="text">
        <ul>
            <li><strong>1 Kinoticket</strong></li>
            <li><Strong>1 Drink: </Strong>Pepsi Zero Zucker, Pepsi Cola, Pepsi light, Schwip Schwap Orange, Essacher Luft, 7UP, Schwip Schwap, Warsteiner oder Bionade</li>
            <li><strong>1 Snack: </strong> Popcorn süß (groß), Popcorn salzig (groß) oder Nachos (mittel)</li>
        </ul>
    </div>
    <div class="ueberschrift"><p><strong>Dieses Angebot gilt nur für ausgewählte Filme!</strong></p></div>
    <div class="trenner"></div>
    <div class="filmauswahl">
        <div class="film"><img src="../assets/images/drachen.jpg" width="283" height="401"><p> <strong>Drachenzähmen leicht gemacht</strong></p></div>
        <div class="film"><img src="../assets/images/DieVerurteilten.jpg" width="283" height="401"><p> <strong>Die Verurteilten</strong></p></div>
        <div class="film"><img src="../assets/images/Minions.jpg" width="283" height="401"><p><strong>Minions</strong></p></div>
    </div>
</body>