body {
  line-height: 1.5;
  padding: 0;
  margin-left: 15%;
  margin-bottom: 5%;
}

.kundenkonto {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: left;
}

button {
  padding: 15px;
  margin-top: 15px;
  color: black;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  width: 12rem;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #626262;
  color: white;
  border: 1px solid #626262;
}

.vorstellungen {
  margin-bottom: 30px;
}

.vorstellungen h2,
.aktionen h2 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 20px;
  padding-bottom: 10px;
}

.aktionsbilder img {
  margin-right: 10px;
  width: 15%;
}

@media screen and (max-width: 600px) {
  .aktionsbilder img {
    width: 47%;
  }
}

.tickets-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;    /* bricht um, wenn es nicht in die Breite des Containers passt */
  gap: 20px; /* Abstand zwischen den Kästchen */
  color: white;
}

.ticket {
  border: 1px solid white;
  border-radius: 3px;
  padding: 20px;
  box-sizing: border-box; /* Stellt sicher, dass padding und border in die Breite eingerechnet werden */
  text-align: left;
}
