
    <div class="containerVideo">
        <video controls>
            <source src="../../assets/videos/Chihiros%20Reise%20ins%20Zauberland%20-%20Trailer.mp4" type="video/mp4">
            Dein Browser unterstützt das Video-Tag nicht.
        </video>
        <video height="720" width="1280" controls>
            <source src="../assets/videos/Chihiros Reise ins Zauberland - Trailer.mp4" type="video/mp4">
            <!-- <source src="../assets/video/Geil-Yes_Trim.ovg" type="video/ogg"> -->
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="trenner1"></div>

    <div class="container">
        <h2 class="filmtitel">{{filmtitel}}</h2>
        <div class="filmInformation">
            <div class="spalte1"><img src="{{film[0].bildpfad}}" alt="Nichts Gefunden" height="450" length="300"><p class = "fsk">FSK {{film[0].fsk}}</p></div>
            <div class = "spalte2">
                <div><h1>Genre</h1> <p>{{film[0].genre}} </p></div>
                <div><h1>Dauer</h1><p>{{film[0].laufzeit}} min</p></div>
                <div><h1>Erscheinung</h1><p>{{film[0].erscheinungsdatum | date: "dd.MM.yyyy"}}</p></div>
                <div><h1>Besetzung</h1><p>{{film[0].besetzung}}</p></div>
            </div>
            <div class = "spalte3">
                <div><h1>Beschreibung</h1><p>{{film[0].beschreibung}}</p></div>
                <div><h1>Bewertung</h1><p><strong>{{film[0].bewertung}}</strong>/10</p></div>
            </div>
        </div>
    </div>

    <div class="trenner2"></div>

    <div class="container">
        <div><h2 class="filmtitel">Vorstellungszeiten</h2></div>
        <div></div>
    </div>

    <div class="vorstellungszeiten">

        <div class="vorstellung" *ngFor="let veranstaltung of film[0].veranstaltungen; let j = index">
            <div >
              {{ veranstaltung.datum | date: 'dd.MM.yy' }}
              <p>20 Uhr</p>
              <p>60 Tickets</p>
              <div class="ticketbutton" *ngIf="j < film[0].veranstaltungs_nummern.length" [routerLink]="['/kartenkaufen', film[0].veranstaltungs_nummern[j]]">
                <p>Zu den Tickets</p>
              </div>
            </div>
        </div>
    </div>
