<head>
    <p>filmdetails works!</p>
</head>
<body>
    <div class="containerVideo">
        <video height="720" width="1280" controls>
            <source src="..\assets\v1.mp4" type="video/mp4"> 
            <source src="..\assets\v1.mp4" type="video/ogg"> 
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="trenner1"></div>
    
    <div class="container">
        <h2 class="filmtitel">DUNE 2</h2>
        <div class="filmInformation">
            <div class="spalte1"><img src="..\assets\Dune_Poster.webp" alt="Nichts Gefunden" height="450" length="300"><p class = "fsk">FSK 28</p></div>
            <div class = "spalte2">
                <div><h1>Genre</h1> <p>Science-Fiction</p></div> 
                <div><h1>Dauer</h1><p>166 Minuten</p></div>
                <div><h1>Erscheinung</h1><p>29. Feb 2024</p></div> 
                <div><h1>Schauspieler</h1><p>Zendaya, Javier Bardem, Timothée Chalamet, Rebecca Ferguson, Stellan Skarsgård, Florence Pugh</p></div>
            </div>
            <div class = "spalte3">
                <div><h1>Beschreibung</h1><p>Dune 2 entführt die Zuschauer erneut in eine epische Welt voller Intrigen, Machtspiele und heroischer Taten. Diese mitreißende Fortsetzung setzt die Reise von Paul Atreides fort, während er seine Bestimmung als Anführer und seine Beziehung zu den geheimnisvollen Bewohnern des Wüstenplaneten entdeckt. Mit atemberaubenden Landschaften, fesselnden Charakteren und einer tiefgründigen Handlung ist Dune 2 ein unvergessliches filmisches Erlebnis, das die Grenzen des Science-Fiction-Genres neu definiert.</p></div>
                <div><h1>Bewertung</h1><p><strong>8.7</strong>/10</p></div>
            </div>
        </div>
    </div>

    <div class="trenner2"></div>

    <div class="container">
        <div><h2 class="filmtitel">Vorstellungszeiten</h2></div>
        <div></div>
    </div>

    
</body>
