<body>

<div class="login">
  <h1>Willkommen zurück</h1>
  <button type="button" [hidden]="!showLoginButton" (click)="toggleForms()">Anmelden</button>
</div>

<div class="anmelden-form" [hidden]="!showLoginForm">
  <form (submit)="login()">
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <label for="mail">
      E-Mail:
    </label>
    <input type="text"
           id="mail"
           name="mail"
           placeholder="E-Mail" required
           [(ngModel)]="mail">

    <label for="passwort">
      Passwort:
    </label>
    <input type="password"
           id="passwort"
           name="passwort"
           placeholder="Passwort" required
           [(ngModel)]="passwort">

    <div class="enter-button">
      <button type="submit">Anmelden</button>
    </div>
  </form>
</div>


<div class="trenner"></div>


<div class="neuhier">
  <h1>Ich bin neu hier</h1>
  <button type="button" [hidden]="!showRegisterButton" (click)="toggleForms()">Registrieren</button>
</div>

<div class="registrieren-form" [hidden]="!showRegisterForm">
  <form action="">
    <label for="vorname">
      Name:
    </label>
    <input type="text"
           id="vorname"
           name="vorname"
           placeholder="Vorname" required>
    <label for="nachname">
      Nachname:
    </label>
    <input type="text"
           id="nachname"
           name="nachname"
           placeholder="Nachname" required>
    <label for="straße&nr">
      Straße und Hausnummer:
    </label>
    <input type="text"
           name="straße&nr"
           id="straße&nr"
           placeholder="Straße und Hausnummer" required>
      <label for="plz&stadt">
        Postleitzahl und Stadt:
      </label>
    <div class="plz-stadt">
      <input type="number"
             name="plz"
             id="plz&stadt"
             placeholder="PLZ" required>
      <input type="text"
             name="stadt"
             id="stadt"
             placeholder="Stadt" required>
    </div>
    <label for="geburtstag">
      Geburtsdatum:
    </label>
    <input type="date"
           id="geburtstag"
           name="geburtstag"
           placeholder="tt.mm.jjjj" required>
    <label for="email">
      E-Mail:
    </label>
    <input type="email"
           id="email"
           name="email"
           placeholder="E-Mail" required>
    <label for="passwort">
      Passwort:
    </label>
    <input type="password"
           id="choosepassword"
           name="choosepassword"
           placeholder="Passwort" required>
    <div class="enter-button">
      <button type="button" onclick="solve()">Registrieren</button>
    </div>
  </form>
</div>

</body>
