<body>

<div class="kundenkonto">
  <h1>Mein Profil</h1>
</div>

<div class="table1">
  <table class="kundendaten" *ngIf="!isEditing">
    <h2>Login-Daten</h2>
    <tr>
      <th>E-Mail:</th>
      <td>{{ user?.mail }}</td>
    </tr>
    <tr>
      <th>Passwort:</th>
      <td>{{ user?.passwort }}</td>
    </tr>
    <h2>Persönlichen Daten</h2>
    <tr>
      <th>Vorname:</th>
      <td>{{ user?.vorname }}</td>
    </tr>
    <tr>
      <th>Nachname:</th>
      <td>{{ user?.nachname }}</td>
    </tr>
    <tr>
      <th>Straße und Hausnummer:</th>
      <td>{{ user?.strasseUndNr }}</td>
    </tr>
    <tr>
      <th>PLZ:</th>
      <td>{{ user?.plz }}</td>
    </tr>
    <tr>
      <th>Stadt:</th>
      <td>{{ user?.stadt }}</td>
    </tr>
    <tr>
      <th>Geburtsdatum:</th>
      <td>{{ formatDate(user?.geburtsdatum) }}</td>
    </tr>
    <tr>
      <th>Zahlungsmittel:</th>
      <td>{{ user?.zahlungsmittel }}</td>
    </tr>
  </table>

  <form *ngIf="isEditing" [formGroup]="editForm" (ngSubmit)="kundenDatenAendern()">
    <table class="kundendaten">
      <h2>Login-Daten</h2>

      <!-- E-Mail -->
      <tr>
        <th>E-Mail:</th>
        <td>{{ user?.mail }}</td>
      </tr>

      <!-- Passwort -->
      <tr>
        <th>Passwort:</th>
        <td>
          <input type="text" formControlName="passwort" placeholder="Passwort">
          <div class="text-danger" *ngIf="editForm.controls['passwort'].invalid && (isFormSubmitted || editForm.controls['passwort'].touched || editForm.controls['passwort'].dirty)">
            <span *ngIf="editForm.controls['passwort'].errors?.['required']">Bitte fülle das Feld aus.</span>
            <span *ngIf="editForm.controls['passwort'].errors?.['minlength']">Dein Passwort muss mindestens 6 Zeichen lang sein.</span>
          </div>
        </td>
      </tr>

      <h2>Persönlichen Daten</h2>

      <!-- Vorname -->
      <tr>
        <th>Vorname:</th>
        <td>
          <input type="text" formControlName="vorname" placeholder="Vorname">
          <div class="text-danger" *ngIf="editForm.controls['vorname'].invalid && (isFormSubmitted || editForm.controls['vorname'].touched || editForm.controls['vorname'].dirty)">
            <span *ngIf="editForm.controls['vorname'].errors?.['required']">Bitte fülle das Feld aus.</span>
            <span *ngIf="editForm.controls['vorname'].errors?.['minlength']">Deine Eingabe muss mindestens 3 Zeichen lang sein.</span>
          </div>
        </td>
      </tr>

      <!-- Nachname -->
      <tr>
        <th>Nachname:</th>
        <td>
          <input type="text" formControlName="nachname" placeholder="Nachname">
          <div class="text-danger" *ngIf="editForm.controls['nachname'].invalid && (isFormSubmitted || editForm.controls['nachname'].touched || editForm.controls['nachname'].dirty)">
            <span *ngIf="editForm.controls['nachname'].errors?.['required']">Bitte fülle das Feld aus.</span>
            <span *ngIf="editForm.controls['nachname'].errors?.['minlength']">Deine Eingabe muss mindestens 3 Zeichen lang sein.</span>
          </div>
        </td>
      </tr>

      <!-- Straße und Hausnummer -->
      <tr>
        <th>Straße und Hausnummer:</th>
        <td>
          <input type="text" formControlName="strasseUndNr" placeholder="Straße und Hausnummer">
          <div class="text-danger" *ngIf="editForm.controls['strasseUndNr'].invalid && (isFormSubmitted || editForm.controls['strasseUndNr'].touched || editForm.controls['strasseUndNr'].dirty)">
            <span *ngIf="editForm.controls['strasseUndNr'].errors?.['required']">Bitte fülle das Feld aus.</span>
            <span *ngIf="editForm.controls['strasseUndNr'].errors?.['minlength']">Deine Adresse muss mindestens 5 Zeichen lang sein.</span>
          </div>
        </td>
      </tr>

      <!-- PLZ und Stadt -->
      <tr>
        <th>PLZ:</th>
        <td>
          <input type="number" formControlName="plz" placeholder="PLZ">
          <div class="text-danger" *ngIf="editForm.controls['plz'].invalid && (isFormSubmitted || editForm.controls['plz'].touched || editForm.controls['plz'].dirty)">
            <span *ngIf="editForm.controls['plz'].errors?.['required']">Bitte fülle das Feld aus.</span>
            <span *ngIf="editForm.controls['plz'].errors?.['min']">Eine Postleitzahl muss mindestens 5 Zeichen lang sein.</span>
          </div>
        </td>
      </tr>
      <tr>
        <th>Stadt:</th>
        <td>
          <input type="text" formControlName="stadt" placeholder="Stadt">
          <div class="text-danger" *ngIf="editForm.controls['stadt'].invalid && (isFormSubmitted || editForm.controls['stadt'].touched || editForm.controls['stadt'].dirty)">
            <span *ngIf="editForm.controls['stadt'].errors?.['required']">Bitte fülle das Feld aus.</span>
            <span *ngIf="editForm.controls['stadt'].errors?.['minlength']">Deine Eingabe muss mindestens 3 Zeichen lang sein.</span>
          </div>
        </td>
      </tr>

      <!-- Geburtsdatum -->
      <tr>
        <th>Geburtsdatum:</th>
        <td>{{ formatDate(user?.geburtsdatum) }}</td>
      </tr>

      <!-- Zahlungsmittel -->
      <tr>
        <th>Zahlungsmittel:</th>
        <td>
          <input type="text" formControlName="zahlungsmittel" placeholder="Zahlungsmittel">
          <div class="text-danger" *ngIf="editForm.controls['zahlungsmittel'].invalid && (isFormSubmitted || editForm.controls['zahlungsmittel'].touched || editForm.controls['zahlungsmittel'].dirty)">
            <span *ngIf="editForm.controls['zahlungsmittel'].errors?.['required']">Bitte fülle das Feld aus.</span>
            <span *ngIf="editForm.controls['zahlungsmittel'].errors?.['minlength']">Deine IBAN muss mindestens 22 Zeichen lang sein.</span>
          </div>
        </td>
      </tr>

    </table>
    <button type="submit" (click)="kundenDatenAendern()">Speichern</button>
    <button type="button" (click)="cancelEdit()">Abbrechen</button>
  </form>

  <button *ngIf="!isEditing" (click)="datenBearbeiten()">Daten bearbeiten</button>
</div>

</body>
