<body>
    <div class="title">
        <img id="programm-titel" src="../assets/Programm.PNG"/>
    </div>

    <div class="aktionsleiste">
        <button type="button">Filter</button>
        <div class="search-wrapper">
            <img class="search-icon" src="../assets/search.png" />
            <input class="search" placeholder="Suche" type="text">
            <img class="clear-icon" src="../assets/clear.jpg" />
        </div>
    </div>

    <div class="Filme">
        <hr>
        <p class="filme-title">Filme</p>

        <div *ngFor="let film of filmService.filme" class="film">
            <div class="filminfo">
                <img class="filmplakat" src="../assets/drachen.jpg" alt="'Filmplakat zu ' + film.filmtitel">
                <div class="beschreibung">
                    <div class="filmtitel">{{film.filmtitel}}</div>
                    <div>{{film.beschreibung}}</div>
                    <div class = "mehr-Lesen-Button">
                        <a routerLink="/filmdetails">Zum Film</a>
                    </div>
                </div>
                <div class="dates">
                    <div class="date">{{datum1 | date: "dd.MM.yy"}}</div>
                    <div class="date">15.05.24</div>
                    <div class="date">18.06.25</div>
                </div>
            </div>

            <div class="trenner-container">
                <div class="gap"></div>
                <div class="trenner"></div>
            </div>

        </div>
    </div>
</body>
