.title{
    font-size:xx-large;
    
}

body{
    background-color: black;
    color: white;
}

.filmplakat{
   max-height: 388px;
   max-width: 260px;
}

.filminfo{
    display: flex;
    flex-direction: row; 
    justify-content:space-evenly;
}

.filmplakat{
    flex:1;
}

.beschreibung{
    flex: 2;
}

.dates{
    flex:1;
}

.filmtitel{
    font-size: x-large;
}




