.title{
    font-size:xx-large;
    text-align: center; 
}

body{
    margin: 2em;
}

.filmplakat{
   max-height: 388px;
   max-width: 260px;
}

.filminfo{
    display: flex;
    flex-direction: row; 
    justify-content:space-evenly;
    gap: 2em;
}

.film{
    display:flex;
    flex-direction: column;
    margin: 2em;
}

.filmplakat{
    flex:1;
}

.beschreibung{
    flex: 2;
    margin-left: 2em;
    margin-right: 2em;
}

.dates{
    /*Eigene Eigenschaften*/
    margin: 2em;
    align-self: flex-end;

    /*Eigenschaften für Kinder*/
    display:flex;
    flex-direction: column;
    row-gap: 1em;
    font-size: large;
}

.filmtitel{
    font-size: x-large;
}

.aktionsleiste{
    display: flex;
    flex-direction: row-reverse;
    gap: 1em; 
    margin: 1em
}

.search-wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
  }

  .search-icon {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
  }

  .clear-icon {
    position: absolute;
    top: 10px;
    right: 8px;
    width: 10px;
    cursor: pointer;
    /* visibility: hidden;   */
  }

  .search {
    border: solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: black;
  }

  .search:hover, .search:focus {
    border: solid #009688;
  }

  .trenner{
    height: 1px;
    background-color: white;
    margin: 1em;
    flex: 2;
  }

  .gap{
    flex: 0.6
  }

  .trenner-container{
    display: flex;
  }