<body>


    <div class="title">

        <p>Programm</p>

    </div>

    <div class="film">
        <div class="filminfo">
            <img class="filmplakat" src="../assets/drachen.jpg" alt="Filmplakat zu Drachenzähmen-leicht-gemacht">
            <div class="beschreibung">
                <div class="filmtitel">Drachenzähemen leicht gemacht</div>
                Das Wikingerdorf Berk wird seit 300 Jahren von Drachen angegriffen, die das Dorf verwüsten und Nahrung
                stehlen.
                Um in Berk angesehen zu werden, ist es deshalb wichtig ein guter Drachentöter zu sein.
                Hicks, der Sohn des Stammesoberhaupts, ist jedoch nicht fürs Kämpfen gemacht und versucht vergeblich
                sich zu beweisen.
                Selbst als es ihm gelingt einen Nachtschatten vom Himmel zu schießen, glaubt ihm niemand.
                So sucht er nach dem Drachen, um ihn zu töten und einen Beweis für seinen Erfolg zu bringen.
                Doch als er den Drachen findet, kommt alles anders als ursprünglich geplant.
            </div>
            <div class="dates">
                <div>Datum 1</div>
                <div>Datum 2</div>
                <div>Datum 3</div>
            </div>
        </div>
    </div>




</body>