    <div class="trailer-container">

            <video autoplay loop [muted]="'muted'">
<!--                <source src="../assets/videos/DunePart2Trailer.mp4" type="video/mp4">-->
                Your browser does not support the video tag.

                <!-- <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/G4Y2K4bu_0o?si=CaanxxT1QNRzr9GV&amp;controls=0" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; 
                encrypted-media; gyroscope; picture-in-picture; 
                web-share" referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen></iframe> -->

                <!-- <iframe [src]="'https://www.youtube.com/embed/CaanxxT1QNRzr9GV' | safe"></iframe> -->
            </video>
    </div>
    <div class="content">
        <p class="font-large">Dune Part II</p>
        <!-- <p >This is a simple webpage with a background video.</p> -->
    </div>
    <div class="highlights">
        <hr>
        <p class="highlights-title">Highlights</p>
    </div>
    <div class="flex-container">

        <span class="title-cover" *ngFor="let film of filme.slice(0, 3)">
            <a [routerLink]="['/filmdetails', film.filmtitel]" class="film-highlight">
                <img src="{{film.bildpfad}}" alt="Filmplakat zu {{film.filmtitel}}" width="283" height="401" >
                <p class="p-title">
                {{film.filmtitel}}
                </p>
            </a>
        </span>

    </div>
