    <div class="trailer-container">

            <video autoplay loop [muted]="'muted'">
<!--                <source src="../assets/videos/DunePart2Trailer.mp4" type="video/mp4">-->
                Your browser does not support the video tag.
            </video>
    </div>
    <div class="content">
        <p class="font-large">Dune Part II</p>
        <!-- <p >This is a simple webpage with a background video.</p> -->
    </div>
    <div class="highlights">
        <hr>
        <p class="highlights-title">Highlights</p>
    </div>
    <div class="flex-container">

        <span class="title-cover">
            <a routerLink="/filmdetails" class="film-highlight">
                <img src="../assets/images/Dune2Poster.png" alt="Girl in a jacket" width="283" height="401">
                <p class="p-title">
                    Dune Part II
                </p>
            </a>
        </span>

        <span class="title-cover">
            <a routerLink="/filmdetails" class="film-highlight">
                <img src="../assets/images/Dune2Poster.png" alt="Girl in a jacket" width="283" height="401">
                <p class="p-title">
                    Dune Part II
                </p>
            </a>
        </span>
        <span class="title-cover">
            <a routerLink="/filmdetails" class="film-highlight">
                <img src="../assets/images/Dune2Poster.png" alt="Girl in a jacket" width="283" height="401">
                <p class="p-title">
                    Dune Part II
                </p>
            </a>
        </span>
        <span class="title-cover">
            <a routerLink="/filmdetails" class="film-highlight">
                <img src="../assets/images/Dune2Poster.png" alt="Girl in a jacket" width="283" height="401">
                <p class="p-title">
                    Dune Part II
                </p>
            </a>
        </span>
        <span class="title-cover">
            <a routerLink="/filmdetails" class="film-highlight">
                <img src="../assets/images/Dune2Poster.png" alt="Girl in a jacket" width="283" height="401">
                <p class="p-title">
                    Dune Part II
                </p>
            </a>
        </span>
        <span class="title-cover">
            <a routerLink="/filmdetails" class="film-highlight">
                <img src="../assets/images/Dune2Poster.png" alt="Girl in a jacket" width="283" height="401">
                <p class="p-title">
                    Dune Part II
                </p>
            </a>
        </span>
    </div>
