    <div class="trailer-container">

            <video autoplay loop [muted]="'muted'">
               <source src="../../assets/videos/Dune-PartTwo-Trailer.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
    </div>
    <div class="content">
        <p class="font-large">Dune Part II</p>
        <!-- <p >This is a simple webpage with a background video.</p> -->
    </div>
    <div class="highlights">
        <hr>
        <p class="highlights-title">Highlights</p>
    </div>
    <div class="flex-container">

        <span class="title-cover" *ngFor="let film of filme">
            <a [routerLink]="['/filmdetails', film.filmtitel]" class="film-highlight">
                <img src="{{film.bildpfad}}" alt="Filmplakat zu {{film.filmtitel}}" width="283" height="401" >
                <p class="p-title">
                {{film.filmtitel}}
                </p>
            </a>
        </span>

    </div>
