<div class="container-oben">
  <div class="container-oben-links">

    <div class="container-Karten"> 
      <div class="container-info">
      <p>{{ adultTickets }}x Erwachsener {{ adultPriceDisplay }}€</p> 
    </div>
      <div class="container-button">
        <button (click)="addErwachsener()" class="ticket-button">+</button>
        <button (click)="removeErwachsener()" class="ticket-button">-</button>
      </div>      
    </div>
    
    <div class="container-Karten"> 
      <div class="container-info">
      <p>{{ discountedTickets }}x Ermäßigt {{ discountedPriceDisplay }}€</p> 
    </div>
      <div class="container-button">
        <button (click)="addErmaessigt()" class="ticket-button">+</button>
        <button (click)="removeErmaessigt()" class="ticket-button">-</button>
      </div>      
    </div>

    <div class="container-Karten"> 
      <div class="container-info">
      <p>{{ childTickets }}x Kind {{ childPriceDisplay }}€</p> 
    </div>
      <div class="container-button">
        <button (click)="addKind()" class="ticket-button">+</button>
        <button (click)="removeKind()" class="ticket-button">-</button>
      </div>      
    </div>
    <div class="container-Summe"> 
      <div class="container-Summeinfo">
        <p>Summe:  {{ sum }}€</p>
      </div>      
    </div>
    <div class="container-Karten"><button (click)="ticketkaufen()" class="button">Kaufen</button></div>
  </div>
  <div class="container-oben-mitte">
    <div class="container-Leinwand"><p class="Leinwand">Leinwand</p></div>
    <div class="spacing"></div>
      <div class="parkflaeche">
        <div class="platz" *ngFor="let zero of zerosArray; let i = index" (click)="select(i)">
          <img *ngIf="zero == 0" class="park-img" src="../../assets/images/Parkplatz_leer.svg" alt="">
          <img *ngIf="zero == 1" class="park-img" src="../../assets/images/Parkplatz_Auswahl.svg" alt="">
        </div>
      </div>
    </div>
  <div class="container-oben-rechts">
    <div class="container-Leinwand"></div>
    <div class="container-img-info"><img class="park-img-info" src="../../assets/images/Parkplatz_Auswahl.svg" alt=""><p class="info-text" >ausgewählt</p></div>
    <div class="container-img-info"><img class="park-img-info" src="../../assets/images/Parkplatz_Besetzt.svg" alt=""><p class="info-text" >besetzt</p></div>
    <div class="container-img-info"><img class="park-img-info" src="../../assets/images/Parkplatz_leer.svg" alt=""><p class="info-text" >frei</p></div>
  </div>
</div>