<div class="container-oben">
  <div class="container-oben-links">
    <div class="container-Karten"><p>Erwachsener 13€</p><hr></div>
    <div class="container-Karten"><p>Ermäßigt 10€</p><hr></div>
    <div class="container-Karten"><p>Kind 9€</p><hr></div>
    <div class="container-Karten"><button>Kaufen</button></div>
  </div>
  <div class="container-oben-mitte">
    <div class="container-Leinwand"><p class="Leinwand">Leinwand</p></div>
    <div class="spacing"></div>
    <!-- app.component.html -->
    <div class="parkflaeche">
      <div class="platz" *ngFor="let zero of zerosArray; let i = index" (click)="select(i)">
          <img *ngIf="zero == 0" class="park-img" src="../../assets/images/Parkplatz_leer.svg" alt="">
          <img *ngIf="zero == 1" class="park-img" src="../../assets/images/Parkplatz_Auswahl.svg" alt="">
          <img *ngIf="zero == 2" class="park-img" src="../../assets/images/Parkplatz_Besetzt.svg" alt="">
        </div>
    </div>
  </div>
  <div class="container-oben-rechts">
    <div class="container-Leinwand"></div>
    <div class="container-img-info"><img class="park-img-info" src="../../assets/images/Parkplatz_Auswahl.svg" alt=""><p class="info-text" >ausgewählt</p></div>
    <div class="container-img-info"><img class="park-img-info" src="../../assets/images/Parkplatz_Besetzt.svg" alt=""><p class="info-text" >besetzt</p></div>
    <div class="container-img-info"><img class="park-img-info" src="../../assets/images/Parkplatz_leer.svg" alt=""><p class="info-text" >frei</p></div>
  </div>
</div>
