<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <script src="kartenkaufen.component.ts"></script>
</head>

<body>
<div class="container-oben">
  <div class="container-oben-links"></div>
  <div class="container-oben-mitte">
    <div class="Leinwand"><p>Leinwand</p></div>
    <div class="spacing"></div>
    <!-- app.component.html -->
<div class="parkflaeche">
  <input 
    *ngFor="let platz of checkboxes" 
    class="platz" 
    type="checkbox" 
    [id]="platz" 
    [name]="platz" 
    [value]="platz"
  >
</div>

  </div>
  <div class="container-oben-rechts"></div>
</div>
<div class="container-unten">
  <p>spaceholder</p>
</div>
</body>
</html>